@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Sour Gummy", sans-serif;
  font-weight: 500;
}

.marcado {
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 0.5rem;
  width: 0.5rem;
  padding: 0.5rem;
  border: 0.25rem solid rgb(219, 31, 31);
  background-color: rgb(219, 31, 31);
  border-radius: 20rem;
}

input[type="checkbox"]:checked {
  border: 0.25rem solid rgb(0, 168, 65);
  background-color: rgb(0, 168, 65);
  color: rgb(0, 168, 65);
}

input[type="text"]::placeholder {
  font-size: 1.1rem;
}

.main {
  background-color: var(--color-yellow-100);
  border-radius: var(--radius-2xl);
  padding-inline: calc(var(--spacing) * 7);
  padding-block: calc(var(--spacing) * 4) ;
  height: calc(8 / 10 * 100%);
  line-height: var(
    --tw-leading,
    var(--text-2xl--line-height)
  );
  font-size: var(--text-2xl)
}

.main .product{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(3 / 10 * 100%);
  border: 2px solid black;
}